*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Press Start 2P', cursive;
    /* background-image:url(https://i.gifer.com/D7OZ.gif); */
    background-image: url(https://media1.giphy.com/media/FpUcEs9flCUW3e2q5I/200w.gif?cid=6c09b952q7hkyolk6hrn1i8cq4mtb87x84y3ed5bagebkwze&rid=200w.gif&ct=g);
    background-size: cover;
    background-position: center;
    height: 100%;
}

// #homeHeader{
//     margin-top: 4%;
//     h1{
//         font-size: 3em;
//         padding: 10px;
//     }
//     h4{
//         font-size: 2em;
//         padding-top: 10px;
//     }
// }

img{
    height: 50vh;
}

#Mew{
    height: 30vh;
}

header{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 25px;
    >h1{
        padding-bottom: 20px;
    }
    >h4{
        padding-bottom: 20px;
    }
}

#redText{
    color: red;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    

    .selection{
        height: 100px;
        width: 100px;
        background-image: linear-gradient(red,red, white, white);
        font-family: 'Press Start 2P', cursive;
        border-radius: 50%;
        padding: 4px;
        margin-right: 20%;
    }
}

#enemyPokemon{
    display: grid;
    justify-items: end;
}

#selectedPokemon{
    display: grid;
    align-items: end;
}

footer{
    display: grid;
    justify-items: center;
    margin-top: 100px;
    p{
        font-size: 8pt;
    }
}

#battlefield{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aa15ff7d-d333-4bf9-b115-95e18f63fe91/d5ynr9c-33aeebd0-1cd8-45d9-86fc-8431aa114534.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FhMTVmZjdkLWQzMzMtNGJmOS1iMTE1LTk1ZTE4ZjYzZmU5MVwvZDV5bnI5Yy0zM2FlZWJkMC0xY2Q4LTQ1ZDktODZmYy04NDMxYWExMTQ1MzQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.drpgYmhn1x05leYjcLxQtnSJDwKa_DciUUDi4-LYJXA);
    background-size: cover;
    height: 100%;
}

button{
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(127, 255, 212, 0.487);
}

#selectedPokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    #buttons{
        margin-left: 60%;
        margin-top: 10%;
    }
}

#battleheader{
    display: grid;
    padding-left: 1%;
}

#enemyPokemon{
    margin-right: 5%;
}
